body{
    background-color: #0D1321;
}

a{
    color: #B8B08D;
    font-size: 20px;   
    display: flex;
}

.button {
    background-color: #0D1321;
    border: 2px solid #B8B08D;  /* Added solid border to make it visible */
    color: #B8B08D;             /* Added text color */
    padding: 10px 20px;         /* Added padding for better appearance */
    font-size: 20px;            /* Set font size */
    cursor: pointer;           /* Change cursor to pointer to show it's clickable */
    text-align: center;
    border-radius: 25px;
    transition: background-color 0.3s ease;  /* Optional: transition for hover effect */
    margin-left: 58%;
    margin-top:-5%;
}

.button:hover {
    background-color: #B8B08D;  /* Change background color on hover */
    color: #0D1321;             /* Change text color on hover */
}
